<%- include("partials/header"); -%>
    </header>
    <main>
      <div class="container">
        <div class="image">
          <img src="images/coverq.jpg" alt="">
        </div>
        <h3>Bohemian Rhaposdy</h3>
        <p>Queen</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
      <div class="container">
        <div class="image">
          <img src="images/covers.jpg" alt="">
        </div>
        <h3>Cheese</h3>
        <p>Stromae</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
      <div class="container">
        <div class="image">
          <img src="images/Cover.jpg" alt="">
        </div>
        <h3>When it's All Said And Done</h3>
        <p>Giveon</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
      <div class="container">
        <div class="image">
          <img src="images/covert.jpeg" alt="">
        </div>
        <h3>Ater Hours</h3>
        <p>The Weekend</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
      <div class="container">
        <div class="image">
          <img src="images/coverj.jpg" alt="">
        </div>
        <h3>Oil and water</h3>
        <p>Travis Greene</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
      <div class="container">
        <div class="image">
          <img src="images/covern.jpeg" alt="">
        </div>
        <h3>I Need Revival</h3>
        <p>VOUS Worship</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
      <div class="container">
        <div class="image">
          <img src="images/coverj.jpg" alt="">
        </div>
        <h3>Justice</h3>
        <p>Justin Beiber</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
      <div class="container">
        <div class="image">
          <img src="images/cover.jpg" alt="">
        </div>
        <h3>VIDA</h3>
        <p>Luis Fonsi</p>
        <button class="btn-featured-1" type="button" name="button">Stream Now</button>
        <button class="btn-featured-2" type="button" name="button">Start Free Trial</button>
      </div>
  <%- include("partials/footer"); -%>
