<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BOOMBOX</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <main class="main-login">
      <div class="logo-login">
        <img src="images/Boombox Logo_Pallete-23.png" alt="">
      </div>
      <h3 class="h-login">Log in</h3>
      <form class="" action="/login" method="post">
        <input class="input-login" type="text" placeholder="Enter your user name" name="userName" value="">
        <input class="input-login" type="password" placeholder="password" name="password" value="">
        <button class="btn-login a" type="submit" name="button">Continue</button>
      </form>
      <p class="p-login">or</p>
      <button class="btn-login b" type="button" name="button">Continue with Facebook</button>
      <button class="btn-login c" type="button" name="button">Continue with Apple</button>
      <button class="btn-login d" type="button" name="button">Continue with Twitter</button>
    </main>
  </body>
</html>
