<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BOOMBOX</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <main class="main-signup">
      <div class="logo-signup">
        <img src="images/Boombox Logo_Pallete-23.png" alt="">
      </div>
      <h3 class="h-signup">Sign up or log in</h3>
      <div class="container-signup">
        <form class="" action="/signup" method="post">
          <input class="input-signup" type="text" placeholder="Enter your User name" name="userName" value="">
          <input class="input-signup" type="email" placeholder="Enter your email" name="email" value="">
          <input class="input-signup" type="password" placeholderplaceholder="Password" name="password" value="">
          <button class="btn-signup a-signup" type="submit" name="button">Continue</button>
        </form>
        <p class="p-signup">or</p>
        <button class="btn-signup b-signup" type="button" name="button">Continue with Facebook</button>
        <button class="btn-signup b-signup" type="button" name="button">Continue with Apple</button>
        <button class="btn-signup b-signup" type="button" name="button">Continue with Twitter</button>
      </div>
    </main>
  </body>
</html>
