<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BoomBox</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="images/Boombox Logo-23.svg" alt="">
        </div>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/featured">Featured</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/support">Support</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/login">Login</a>
          </li>
              <p><%= username %></p>
            </ul>
      </nav>
      <div class="header-pic">
        <img src="images/display.png" alt="">
      </div>
      <div class="text">
        <h1>Quality sounds to your ears</h1>
        <p>Discover, listen and share a constanly expanding mix of genres from your favorite
        artists all in one tap</p>
        <a href="/signup"><button class="btn" type="button" name="button">Start Free Trial</button></a>
      </div>
    </header>
    <main>
      <div class="features">
        <h2 class="margin">why Boombox ?</h2>
        <div class="features-grid">
          <div class="feature">
            <h2>80 million tracks. Ad free</h2>
            <p>with over 80 million tracks, exclusive releases at ease with no Ad disturbance</p>
          </div>
          <div class="feature">
            <h2>Made for you.</h2>
            <p>Our AI algorithm detects your flow and suggest tracks on your likes and preferences.</p>
          </div>
          <div class="feature">
            <h2>Always with you.</h2>
            <p>Available on all devices, all the time, even without WIFI or cellular network.</p>
          </div>
          <div class="feature">
            <h2>Hand picked playlists.</h2>
            <p>tap into our editiors' pick with curated playlists and featured.</p>
          </div>
        </div>
      </div>
      <div class="gardient-bg">
        <div class="call-to-action">
          <h2 class="call-to-action-heading">Start your free trial</h2>
          <p class="call-to-action-p">RECOMMENDED</p>
          <!-- <img src="" alt=""> meant for the arrow image above each card you have to put it above each card -->
          <div class="cta-options">
            <div class="cta-option">
              <h3>Free</h3>
              <h2>$ 0.00<span>/month</span></h2>
              <p>Standard sound quality</p>
              <p>192 Kbps</p>
              <p>Ad free</p>
              <p>80 Million tracks</p>
              <p>Offline mode</p>
              <p>6 accounts</p>
              <a href="/signup"><button class="btn" type="button" name="button">Start Free Trial</button></a>
              <a href="#">More info</a>
            </div>
            <div class="cta-option">
              <h3>Premium</h3>
              <h2>$2.33<span>/month</span></h2>
              <p>High sound quality</p>
              <p>320 Kbps</p>
              <p>Shuffle Play</p>
              <p>Ad free</p>
              <p>80 Million tracks</p>
              <p>Offline mode</p>
              <p>6 accounts</p>
              <a href="/signup"><button class="btn" type="button" name="button">Start Free Trial</button></a>
              <a href="#">More info</a>
            </div>
            <div class="cta-option">
              <h3>Family</h3>
              <h2>$4.67<span>/month</span></h2>
              <p>Master sound quality</p>
              <p>1411 Kbps</p>
              <p>Shuffle Play</p>
              <p>Ad free</p>
              <p>80 Million tracks</p>
              <p>Offline mode</p>
              <p>6 accounts</p>
              <a href="/signup"><button class="btn" type="button" name="button">Start Free Trial</button></a>
              <a href="#">More info</a>
            </div>
          </div>
          <button class="btn-c" type="button" name="button">Start Free Trial</button>
          <p class="end-tag">30 day free trial. Cancel anytime</p>
        </div>
        <div class="album-art-showcase">
          <div class="album-art">
            <img src="images/cover.jpg" alt="">
          </div>
          <div class="album-art">
            <img src="images/coverj.jpg" alt="">
          </div>
          <div class="album-art">
            <img src="images/coverj.jpg" alt="">
          </div>
          <div class="album-art">
            <img src="images/coverq.jpg" alt="">
          </div>
          <div class="album-art">
            <img src="images/covers.jpg" alt="">
          </div>
          <div class="album-art">
            <img src="images/covert.jpg" alt="">
          </div>
        </div>
        <div class="faq">
          <h2>FAQ</h2>
          <div class="faq-grid">
            <div class="question">
              <h3>Can I try Boombox free of charge?</h3>
              <p>Yes, you get a free trial period when you sign up to BOOMBOX - and you
              can cancel your account at any time.</p>
            </div>
            <div class="question">
              <h3>Can I import my playlist between devices ?</h3>
              <p>Yes, As long as you log in to your account on the devices and the
                playlist would automatically sync with the new device</p>
            </div>
            <div class="question">
              <h3>What is Boombox ?</h3>
              <p>Boombox is a music streaming platform, with over 70 million songs and
              exclusives.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="download">
        <div class="download-image">
          <img src="images/pexels.jpg" alt="">
        </div>
        <div class="download-text">
          <h3>Never stop listening</h3>
          <p>Boombox is available on IOS, Android, Web.</p>
          <button type="button" name="button">Google Play</button>
          <button type="button" name="button">App Store</button>
        </div>
      </div>

    </main>
    <footer>
      <div class="">
        <div class="grid">
          <div class="foot">
            <h5>Get Started</h5>
            <p><a href="#">Start Free Trial</a></p>
            <p><a href="#">Download BOOMBOX</a></p>
            <p><a href="#">Supported Devices</a></p>
            <p><a href="#">Get Support</a></p>
          </div>
          <div class="foot">
            <h5>Discover BOOMBOX</h5>
            <p><a href="#">About</a></p>
            <p><a href="#">Sound Quality</a></p>
            <p><a href="#">Boombox Connect</a></p>
            <p><a href="#">Community</a></p>
            <p><a href="#">Forum</a></p>
          </div>
          <div class="foot">
            <h5>Account</h5>
            <p><a href="#">Sign Up</a></p>
            <p><a href="#">Redeem Voucher</a></p>
            <p><a href="#">Manage Account</a></p>
            <p><a href="#">Store</a></p>
          </div>
          <div class="foot">
            <h5>Company</h5>
            <p><a href="#">What is BOOMBOX ?</a></p>
            <p><a href="#">Partners</a></p>
            <p><a href="#">Careers</a></p>
            <p><a href="#">Press</a></p>
          </div>
        </div>
        <!-- links to facebook insta twitter and linkedin is next in this div -->
      </div>
      <div class="">
        <img src="" alt="">
        <span><!--copyright logo is here--> 2021 All Rights Reserved</span>
        <a href="#">Privavcy policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Accessiblity Statement</a>
        <a href="#">Contact</a>
        <!-- language options is to be added next -->
      </div>
    </footer>
    </body>
    </html>
