</main>
<footer>
  <div class="">
    <div class="grid">
      <div class="foot">
        <h5>Get Started</h5>
        <p><a href="#">Start Free Trial</a></p>
        <p><a href="#">Download BOOMBOX</a></p>
        <p><a href="#">Supported Devices</a></p>
        <p><a href="#">Get Support</a></p>
      </div>
      <div class="foot">
        <h5>Discover BOOMBOX</h5>
        <p><a href="#">About</a></p>
        <p><a href="#">Sound Quality</a></p>
        <p><a href="#">Boombox Connect</a></p>
        <p><a href="#">Community</a></p>
        <p><a href="#">Forum</a></p>
      </div>
      <div class="foot">
        <h5>Account</h5>
        <p><a href="#">Sign Up</a></p>
        <p><a href="#">Redeem Voucher</a></p>
        <p><a href="#">Manage Account</a></p>
        <p><a href="#">Store</a></p>
      </div>
      <div class="foot">
        <h5>Company</h5>
        <p><a href="#">What is BOOMBOX ?</a></p>
        <p><a href="#">Partners</a></p>
        <p><a href="#">Careers</a></p>
        <p><a href="#">Press</a></p>
      </div>
    </div>
    <!-- links to facebook insta twitter and linkedin is next in this div -->
  </div>
  <div class="">
    <img src="" alt="">
    <span><!--copyright logo is here--> 2021 All Rights Reserved</span>
    <a href="#">Privavcy policy</a>
    <a href="#">Terms and Conditions</a>
    <a href="#">Accessiblity Statement</a>
    <a href="#">Contact</a>
    <!-- language options is to be added next -->
  </div>
</footer>
</body>
</html>
